@using StackExchange.Profiling;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/Content/style-internal.css" rel="stylesheet">

    <!-- Font awesome CSS -->
    <link href="/Content/font-awesome.min.css" rel="stylesheet">

    <!-- Dropzone CSS -->
    <link href="/Content/dropzone.css" rel="stylesheet">

</head>
<body>


    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Jeyara.com</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">Contents</a></li>
                    <li><a href="#contact">Tags</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Settings</a></li>
                    <li><a href="../navbar/">admin@jeyara.com</a></li>
                    <li><a href="../navbar-static-top/">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>



    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/Scripts/bootstrap.min.js"></script>

    <!-- Dropzone JS -->
    <script src="/Scripts/dropzone.js"></script>
    @MiniProfiler.RenderIncludes()
</body>

</html>
