@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#myModal">
    Upload New Images
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Upload New Images
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Images</h4>
            </div>
            <div class="modal-body">
                <div id="dropzone">
                    <form action="~/admin/SaveUploadedFiles" class="dropzone" id="demo-upload" method="post" enctype="multipart/form-data">
                        <div class="fallback">
                            <input name="file" type="file" multiple />
                            <input type="submit" value="Upload" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="\admin">Close and Refresh</button>
            </div>
        </div>
    </div>
</div>
<hr>

@*<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Dropdown
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Latest Images First</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Featured Images First</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Un-Published Images First</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Scheduled Images First</a></li>
         <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Oldest First First</a></li>
   </ul>
</div>*@
<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">Email address</label>
            <select class="form-control" id ="exampleInputEmail3">
              <option>Latest Images First</option>
              <option>Featured Images First</option>
              <option>Un-Published Images First</option>
              <option>Scheduled Images First</option>
              <option>Oldest First First</option>
            </select>
  </div>
  <div class="form-group">
    <label class="sr-only" for="hastag">Password</label>
    <input type="text" class="form-control" id="hastag" placeholder="enter hastags separated by comma">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>

<div class="media" style="background-color:white;margin:5px;padding:5px;border: 1px solid #ddd;border-radius: 4px;">
    <div class="media-left media-top">
        <a href="#">
            <img class="media-object" style="width: 200px;" src="/assets/opera-house.jpg" alt="opera-house">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Opera House</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <p>#landscape,#sunset,#landmark</p>
                <p>
                    <button class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</button>
                    <button class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-import" aria-hidden="true"></span> Replace</button>
                    <button class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
                </p>
    </div>
</div>
<div class="media" style="background-color:white;margin:5px;padding:5px;border: 1px solid #ddd;border-radius: 4px;">
    <div class="media-left media-top">
        <a href="#">
            <img class="media-object" style="width: 200px;" src="/assets/parliment-house.jpg" alt="parliment-house">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Parliament House</h4>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        <p>#landscape,#sunset,#landmark</p>
                <p>
                    <button class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</button>
                    <button class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-import" aria-hidden="true"></span> Replace</button>
                    <button class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
                </p>
    </div>
</div>
<div class="media" style="background-color:white;margin:5px;padding:5px;border: 1px solid #ddd;border-radius: 4px;">
    <div class="media-left media-top">
        <a href="#">
            <img class="media-object" style="width: 200px;" src="/assets/opera-house.jpg" alt="opera-house">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Opera House</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <p>#landscape,#sunset,#landmark</p>
                <p>
                    <button class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</button>
                    <button class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-import" aria-hidden="true"></span> Replace</button>
                    <button class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
                </p>
    </div>
</div>
<div class="media" style="background-color:white;margin:5px;padding:5px;border: 1px solid #ddd;border-radius: 4px;">
    <div class="media-left media-top">
        <a href="#">
            <img class="media-object" style="width: 200px;" src="/assets/parliment-house.jpg" alt="parliment-house">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Parliament House</h4>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        <p><span class="glyphicon glyphicon-import" aria-hidden="true"></span> Replace</p>
                        <p>#landscape,#sunset,#landmark</p>
                <p>
                    <button class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</button>
                    <button class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-import" aria-hidden="true"></span> Replace</button>
                    <button class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
                </p>
    </div>
</div>

