
@{
    ViewBag.Title = "Pins";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@*http://www.responsivewebmobile.com/posts/view/2013/07/09/19/Responsive_Infinite_Scroll_Tutorial*@
@*http://googlewebmastercentral.blogspot.com.au/2014/02/infinite-scroll-search-friendly.html*@
@*http://webdesign.tutsplus.com/tutorials/build-a-dynamic-grid-with-salvattore-and-bootstrap-in-10-minutes--cms-20410*@
@*https://github.com/blueimp/Bootstrap-Image-Gallery*@
  <h1>Masonry CSS with Bootstrap</h1>

<div data-columns="" id="columns">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <img src="http://www.jeyara.com/wp-content/uploads/2012/01/450D_02_3899_SMWOL.jpg" />
        </div>
        <div class="panel-body">
            <p>Test</p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <img src="http://www.jeyara.com/wp-content/uploads/2012/01/450D_02_3899_SMWOL.jpg" />
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <img src="http://www.jeyara.com/wp-content/uploads/2012/01/450D_02_4033_SMWOL.jpg" />
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <img src="https://farm8.staticflickr.com/7203/6933493897_a50a798ee5_z.jpg" />
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <img src="http://www.jeyara.com/wp-content/uploads/2012/01/450D_02_2840_SMWOL.jpg" />
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <img src="http://www.jeyara.com/wp-content/uploads/2012/02/450D_03_0420_SMWL.jpg" />
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <img src="http://www.jeyara.com/wp-content/uploads/2012/01/6245847745_d3ec923c70_o.jpg" />
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <img src="http://www.jeyara.com/wp-content/uploads/2011/06/lankathilaka-temple.jpg" />
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <img src="http://www.jeyara.com/wp-content/uploads/2011/06/alone-in-beach.jpg" />
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <img src="http://www.jeyara.com/wp-content/uploads/2011/06/pink-peatals.jpg" />
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <img src="http://www.jeyara.com/wp-content/uploads/2011/06/singing-alone-e1308229246463-681x1024.jpg" />
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <img src="http://www.jeyara.com/wp-content/uploads/2011/06/landscape-in-barthust.jpg" />
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <img src="http://www.jeyara.com/wp-content/uploads/2011/06/4530065801_8d738fce0f_z.jpg" />
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <img src="https://farm4.staticflickr.com/3912/15175742761_7fe5cd45b4.jpg" />
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <img src="https://farm8.staticflickr.com/7336/9577188351_f439acb498.jpg" />
        </div>
    </div>
        <div class="panel panel-primary">
        <div class="panel-heading">
            <img src="http://www.jeyara.com/wp-content/uploads/2011/06/landscape-in-barthust.jpg" />
        </div>
    </div>

</div>


<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

