
@{
    ViewBag.Title = "Pins";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@*http://www.responsivewebmobile.com/posts/view/2013/07/09/19/Responsive_Infinite_Scroll_Tutorial*@
@*http://googlewebmastercentral.blogspot.com.au/2014/02/infinite-scroll-search-friendly.html*@
  <h1>Masonry CSS with Bootstrap</h1>
<div class="row">
    <div class="item">
      <div class="well"> 
			<img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
        <p>2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah<p>
      </div>
    </div>
 	<div class="item">
        <div class="well"> 
			<img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
        <p>2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah<p>
        </div>
    </div>
    <div class="item">
        <div class="well"> 
			<img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
        <p>2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah<p>
        </div>
    </div>
    <div class="item">
        <div class="well">
			<img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
        <p>2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah<p>
        </div>
    </div>
    <div class="item">
        <div class="well"> 
			<img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
        <p>2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah<p>
        </div>
    </div>
 	<div class="item">
        <div class="well"> 
			<img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
        <p>2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah<p>
        </div>
    </div>
    <div class="item">
        <div class="well">
			<img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
        <p>2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah<p>
        </div>
    </div>
    <div class="item">
        <div class="well"> 
			<img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" alt="" />
        <p>2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah<p>
        </div>
    </div>
    <div class="item">
        <div class="well"> 
			<img src="http://cssdeck.com/uploads/media/items/1/1swi3Qy.png" />
        <p>2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah<p>
        </div>
    </div>
    <div class="item">
        <div class="well"> 
			<img src="http://cssdeck.com/uploads/media/items/6/6f3nXse.png" />
        <p>2 blah blah blah blah blah blah blah blah blah blah blah blahblah blah blah blah blah blah<p>
        </div>
    </div>
</div>

