@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="container">

    <h2>about</h2>

    <div data-columns="" id="columns">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Panel heading without title
            </div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Panel heading without title
            </div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Panel heading without title
            </div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Panel heading without title
            </div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Panel heading without title
            </div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Panel heading without title
            </div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Panel heading without title
            </div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Panel heading without title
            </div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Panel heading without title
            </div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Panel heading without title
            </div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Panel heading without title
            </div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">Panel content </div>
        </div>
    </div>

    <script type="text/javascript">
        function append(title, content) {
            var grid = document.querySelector('#columns');
            var item = document.createElement('div');
            var h = '<div class="panel panel-primary">';
            h += '<div class="panel-heading">';
            h += title;
            h += '</div>';
            h += '<div class="panel-body">';
            h += content;
            h += '</div>';
            h += '</div>';
            salvattore['append_elements'](grid, [item])
            item.outerHTML = h;
        }
        $.getJSON("https://www.googleapis.com/books/v1/volumes?q=inauthor:Ernest+Hemingway&callback=?", function (data) {
            $(data.items).each(function (i, book) {
                append(book.volumeInfo.title, book.volumeInfo.description);
            });
        });
    </script>
</div>
