@model TurboDSLR.Web.Models.PortfolioModel
@{
    //ViewBag.Title = "Pins";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@*http://www.responsivewebmobile.com/posts/view/2013/07/09/19/Responsive_Infinite_Scroll_Tutorial*@
@*http://googlewebmastercentral.blogspot.com.au/2014/02/infinite-scroll-search-friendly.html*@
@*http://webdesign.tutsplus.com/tutorials/build-a-dynamic-grid-with-salvattore-and-bootstrap-in-10-minutes--cms-20410*@
@*https://github.com/blueimp/Bootstrap-Image-Gallery*@

<div class="container-fluid">

    <h1>Masonry CSS with Bootstrap</h1>
    <div id="loader"></div>
        <div class="row" id="container">
            @Html.Partial("_PortfolioImage", Model.StreamPhotos)

            <div class="element col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/assets/parliment-house.jpg" alt="Parliment house">
                    <div class="caption">
                        <h3>Parliment House</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="element col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="https://farm8.staticflickr.com/7203/6933493897_a50a798ee5_z.jpg" alt="Opera house">
                    <div class="caption">
                        <h3>Opera House</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="element col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/assets/pier-sunrise.jpg" alt="Pier Sunraise">
                    <div class="caption">
                        <h3>Pier Sunraise</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="element col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/assets/opera-house.jpg" alt="Opera house">
                    <div class="caption">
                        <h3>Opera House</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="element col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/assets/parliment-house.jpg" alt="Parliment house">
                    <div class="caption">
                        <h3>Parliment House</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="element col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/assets/pier-sunrise.jpg" alt="Pier Sunraise">
                    <div class="caption">
                        <h3>Pier Sunraise</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="element col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/assets/opera-house.jpg" alt="Opera house">
                    <div class="caption">
                        <h3>Opera House</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="element col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://www.jeyara.com/wp-content/uploads/2011/06/singing-alone-e1308229246463-681x1024.jpg" alt="Parliment house">
                    <div class="caption">
                        <h3>Parliment House</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="element col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="http://www.jeyara.com/wp-content/uploads/2011/06/landscape-in-barthust.jpg" alt="Pier Sunraise">
                    <div class="caption">
                        <h3>Pier Sunraise</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
        </div>

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" id="loadmore">Load More</button>
        </div>
    </div>

    <input type="hidden" id="nextPage" value="@Model.NextPage" />
    <input type="hidden" id="currentTag" value="@Model.Tag" />
    <input type="hidden" id="loadingStatus" value="0" />

    <script src="/Scripts/isotope.pkgd.js"></script>
    <script src="/Scripts/jquery.infinitescroll.js"></script>

    <script type="text/javascript">
        $(function () {

            var appendButton = document.querySelector('#loadmore');
            appendButton.addEventListener('click', append_post);

            function append_post(event) {
                LoadNextSet();
            }

            var $container = $('#container');

            $container.isotope({
                itemSelector: '.element',
                transitionDuration: '0.8s'
            });

            //$(window).scroll(function () {
            //    if ($(window).scrollTop() + $(window).height() >= $(document).height() - 300) {
            //        alert("bottom of the page reached!");
            //        LoadNextSet();
            //        //loaded[pages[current + 1]] = loaded[pages[current + 1]] + 1;

            //        //if (loaded[pages[current + 1]] <= 1)
            //        //    loadMoreContent(current + 1);
            //    }
            //});

            function LoadNextSet() {
                var nextPage = $("#nextPage").val();
                var loadingStatus = $("#loadingStatus").val();
                var np;

                if (loadingStatus == 1) {
                    return;
                }

                $('#loader').fadeIn('slow');
                $("#loadingStatus").val(1);

                //alert("bottom of the page reached!");

                $.ajax({
                    type: 'GET',
                    url: '/photostream/' + nextPage,
                    dataType: 'json',
                    success: function (jsonData) {


                        if (jsonData == null) {
                            return;
                        }

                        np = parseInt(nextPage, 10) + parseInt(1, 10);


                        $.each(jsonData, function (index, photo) {
                            append(photo);

                        });
                    },
                    error: function () {
                        $('#loader').fadeOut('slow');
                        alert('Error');
                    }
                });

                $("#loadingStatus").val(0);
                $("#nextPage").val(np);
                $('#loader').fadeOut('slow');

                return false;
            }
        });


        function append(photo) {

            var $container = $('#container');
            // build the html
            var item = '<div class="element col-sm-6 col-md-4"><div class="thumbnail"><img src="' + photo.FullSizeUrl + '" alt="' + photo.AltText + '"><div class="caption"><h3>Pier Sunraise</h3><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></div></div></div>';

            $container.isotope('append', $(item));
        }
    </script>
</div>



