@{
    //ViewBag.Title = "Pins";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@*http://www.responsivewebmobile.com/posts/view/2013/07/09/19/Responsive_Infinite_Scroll_Tutorial*@
@*http://googlewebmastercentral.blogspot.com.au/2014/02/infinite-scroll-search-friendly.html*@
@*http://webdesign.tutsplus.com/tutorials/build-a-dynamic-grid-with-salvattore-and-bootstrap-in-10-minutes--cms-20410*@
@*https://github.com/blueimp/Bootstrap-Image-Gallery*@

<div class="container">

    <h1>Masonry CSS with Bootstrap</h1>

    <div data-columns="" id="grid" class="columns">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <img src="http://www.jeyara.com/wp-content/uploads/2012/01/450D_02_3899_SMWOL.jpg" />
            </div>
            <div class="panel-body">
                <p>Test</p>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <img src="http://www.jeyara.com/wp-content/uploads/2012/01/450D_02_3899_SMWOL.jpg" />
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <img src="http://www.jeyara.com/wp-content/uploads/2012/01/450D_02_4033_SMWOL.jpg" />
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <img src="https://farm8.staticflickr.com/7203/6933493897_a50a798ee5_z.jpg" />
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <img src="http://www.jeyara.com/wp-content/uploads/2012/01/450D_02_2840_SMWOL.jpg" />
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <img src="http://www.jeyara.com/wp-content/uploads/2012/02/450D_03_0420_SMWL.jpg" />
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <img src="http://www.jeyara.com/wp-content/uploads/2012/01/6245847745_d3ec923c70_o.jpg" />
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <img src="http://www.jeyara.com/wp-content/uploads/2011/06/lankathilaka-temple.jpg" />
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <img src="http://www.jeyara.com/wp-content/uploads/2011/06/alone-in-beach.jpg" />
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <img src="http://www.jeyara.com/wp-content/uploads/2011/06/pink-peatals.jpg" />
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <img src="http://www.jeyara.com/wp-content/uploads/2011/06/singing-alone-e1308229246463-681x1024.jpg" />
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <img src="http://www.jeyara.com/wp-content/uploads/2011/06/landscape-in-barthust.jpg" />
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <img src="http://www.jeyara.com/wp-content/uploads/2011/06/4530065801_8d738fce0f_z.jpg" />
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <img src="https://farm4.staticflickr.com/3912/15175742761_7fe5cd45b4.jpg" />
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <img src="https://farm8.staticflickr.com/7336/9577188351_f439acb498.jpg" />
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <img src="http://www.jeyara.com/wp-content/uploads/2011/06/landscape-in-barthust.jpg" />
            </div>
        </div>

    </div>

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" id="loadmore">Load More</button>
        </div>
    </div>

    <input type="hidden" id="nextPage" value="2" />
    <input type="hidden" id="loadingStatus" value="0" />

    <!-- Salvattore JS -->
    <script src="/Scripts/salvattore.js"></script>

    <script type="text/javascript">

        var appendButton = document.querySelector('#loadmore');

        appendButton.addEventListener('click', append_post);

        function append_post(event) {
            LoadNextSet();
        }

        function append(url) {
            // build/select our elements
            var grid = $('#grid');
            var item = document.createElement('div');

            // build the html
            var h = '</div><div class="panel panel-primary"><div class="panel-heading"><img src="' + url + '"/></div></div>';

            //$('#grid').append(h);
            alert(h);
            salvattore.append_elements(grid, h);
            item.outerHTML = h;
            alert(item.outerHTML);
        }

        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 300) {
                LoadNextSet($(window).scrollTop() + $(window).height());
            }
        });


        function LoadNextSet(scrollPosition) {
            var nextPage = $("#nextPage").val();
            var loadingStatus = $("#loadingStatus").val();
            var np;
            if (loadingStatus == 1) {
                return;
            }

            $("#loadingStatus").val(1);

            //alert("bottom of the page reached!");
            alert(scrollPosition);

            $.ajax({
                type: 'GET',
                url: '/photostream/' + nextPage,
                dataType: 'json',
                success: function (jsonData) {


                    if (jsonData == null) {
                        return;
                    }

                    np = parseInt(nextPage, 10) + parseInt(1, 10);


                    $.each(jsonData, function (index, photo) {
                        append(photo.FullSizeUrl);

                    });
                },
                error: function () {
                    alert('Error');
                }
            });

            $("#loadingStatus").val(0);
            $("#nextPage").val(np);

            return false;
        }

    </script>
</div>



